@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Add a new task</h1>
    <form method="post" asp-controller="Task" asp-action="New" asp-route-projectId="@ViewBag.projectId" asp-route-teamId="@ViewBag.teamId">
        <div class="form-group">
            <label for="Title"> Title </label><br/>
            <input class="form-control" type="text" name="Title" id="Title"/>
            <label for="Content"> Content</label><br/>
            <input class="form-control" type="text" name="Content" id="Content"/>
            <label for="memberId"> Member</label><br/>
            <select class="form-control" name="memberId" id="memberId">
                @foreach (var member in ViewBag.Members)
                {
                    <option value="@member.Id">@member.Mail</option>
                }
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>