@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jira</h1>
    <p>This is a scuffed implementation of an activities manager for teams</p>
    <p>The name is very original, obviously</p>
    
    <h2>Features</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Create projects
        </li>
        <li class="list-group-item">
            Add members
        </li>
        <li class="list-group-item">
            Create teams
        </li>
        <li class="list-group-item">
            Add tasks
        </li>
        <li class="list-group-item">
            Mark tasks as completed, in progress or not started
        </li>
        <li class="list-group-item">
            Comment on tasks
        </li>
    </ul>
</div>
