@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Projects">All Projects</a>
    <form method="post" asp-controller="Projects" asp-action="New" >
        <label> Title </label><br/>
        <input type="text" name="Title"/>
        <button type="submit">Submit</button>
    </form>
</div>